<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492622461629-lpq4gbkcepqlq9hdqgnpc481tlft6iij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492622461629-lpq4gbkcepqlq9hdqgnpc481tlft6iij</string>
	<key>API_KEY</key>
	<string>AIzaSyDtOdQb1gO6b_X2ezqjj5vWUUAOcd4XNGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>492622461629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enesSakut.eCommerceVIP</string>
	<key>PROJECT_ID</key>
	<string>ecommercevip-7c44c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommercevip-7c44c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492622461629:ios:2a2bb3193dc8b09338d5d4</string>
	<key>DATABASE_URL</key>
	<string>https://ecommercevip-7c44c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>